{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ lastUsername }}">
            </div>
            <div class="form-group">
                <label for="password">Nom d'utilisateur</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">S'identifier</button>
        </form>
    </div>
{% endblock %}