{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5 ml-5 mr-5 mb-5">
        <div class="row">
            <div class="col-8">
                <h3>Toutes nos annonces</h3>
                <hr>
                {% for announce in announces %}
                <div class="card">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h1 class="card-title">{{ announce.title }}</h1>
                                <p class="card-text">{{ announce.descriptionlong }}</p>
                                <a href="#" class="btn btn-primary">Voir l'annonce</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="pagination">
                    {{ knp_pagination_render(announces) }}
                </div>
            </div>
            <div class="col-4">
                <h3>Les annonces du moment</h3>
                <hr>
                {% for announce in featured %}
                    <div class="card">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ announce.title }}</a>
                            </h4>
                            <p class="card-text">{{ announce.description }}</p>
                            <a href="#" class="btn btn-primary">Voir l'annonce</a>
                            <br/><br/>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}