{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue</h1>
        <p>Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.</p>
        <div class="container">
            <div class="form-row inline-block">
                <div class="col">
                    <input type="email" class="form-control" placeholder="">
                </div>
                <div class="col">
                    <input type="email" class="form-control" placeholder="">
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Les annonces du moment</h1>
        <hr>
        <div class="row mb-5">
            {% for announce in announces %}
                <div class="col-4">
                    <div class="card">
                        {% if announce.filename %}
                            <img class="card-img-top" src="{{ vich_uploader_asset(announce, 'imageFile') }}">
                        {% else %}
                            <img class="card-img-top" src=""> <!-- placer ici l'image par defaut -->
                        {% endif %}
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">{{ announce.title }}</h4></a>
                            <p class="card-text">{{ announce.description }}</p>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
