{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    {{ include ('parts/message.html.twig') }}
    <div class="row">
        <div class="col-10">
            <h3>Gérer les annonces</h3>
        </div>
        <div class="col-2">
            <a href="{{ path('admin_create_announce') }}" class="btn btn-success">Ajouter une annonce</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Annonces</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for announce in announces %}
            <tr>
                <td>{{ announce.title }}</td>
                <td>
                    <a href="{{ path('admin_edit_announce', {'id': announce.id}) }}" class="btn btn-primary">Éditer</a>
                    <form method="post" action="{{ path('admin_delete_announce', {id: announce.id}) }}" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
