{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h3>Ajouter une annonce</h3>
        <hr>
        <br />
        {{ include ('parts/form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}