<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-primary">
    <!-- application d'un filte twig (ici : upper) transformant notre chaîne de caractère en majuscule -->
    <a class="navbar-brand" href="{{ path('homepage') }}">{{ site_title | upper }}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- on affiche le menu de déconnexion si on l'utilisateur courant est identifié sinon on affiche le menu pour se connecter -->
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">S'identifier</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('page_announces') }}">Les annonces</a>
            </li>
            <!-- on affiche ce menu uniquement si l'utilisateur courant possède le role indiqué (ici ROLE_ADMIN) -->
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_list_announce') }}">Gérer les annonces</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
