{{ form_start(form) }}
    <div class="row">
        <div class="col-3">{{ form_row(form.title) }}</div>
        <div class="col-6">{{ form_row(form.description) }}</div>
        <div class="col-3">{{ form_row(form.imageFile) }}</div>
    </div>
    <div class="row">
        <div class="col-9">
            {{ form_row(form.description_long) }}
        </div>
        <div class="col-3">
            {{ form_row(form.price) }}
        </div>
    </div>
    <div class="col-2">{{ form_row(form.featured) }}</div>
    <button class="btn btn-primary">{{ button | default('Sauvegarder') }}</button>
{{ form_end(form) }}